body, header, footer, h1, h2, ul, li {
    max-width: 960px;
    margin: 0 auto;
}

header {
    height: 300px;
    border: 10px solid thistle;
    background-image: url("../images/GGBackground.jpg");
    background-color: gray;

}
header h1 {
    color: green;
    font-size: 50px;
}

Header h2 {
    color: lightseagreen;
    font-size: 40px;
}
body {
    color: rgb(198, 198, 241);
    background-color: blueviolet;
}
main article  { float: left; }
main article div {
    background-color: aqua;
    height: 400px;
    padding: 12px;
}
main article.a1 { width: 15%;} 
main article.a2 { width: 15%;}
main article.a3 { width: 40%;}
main article.a4 { width: 30%;}
main article.a2 div {text-align: center; font-size: 7rem; color: black;}
main article.a3 div { text-align: center; font-size: 3rem; color: black;}
img {max-width: 100%; max-height: 100%;} 

main article.a1 input {
    width: 90%;
}

footer {
    color: rgb(141, 29, 221);
    background-color: black;
    text-align: center;
}