 body, header, h1, h2, main, ul, li {
     max-width: 960px;
     margin: auto;
 }
 body {
     color: cadetblue;
     background-color: darkorchid;
 }

 button {
     display: block;
     clear: both;
 }
 
 header {
     /*background-image: url() ;*/
     border: 15px darkslateblue;
     height: 300px;
 }

 main {
     background-color: indigo;
 }
 main article {
     float: left;
     width: 30%;
     height: 30px;
     padding: 5%;
 }
main div {
    color: midnightblue;
    background-color: mediumturquoise;
}
 footer {
     color: mediumorchid;
     background-color: #550369;
     text-align: center;
     clear: both;
 }