body, header, footer, h1, h2, ul, li {
    max-width: 960px;
    margin: 0 auto;
}

main h2 {
    text-align: center;
}

p {
    text-align: center;
}
ul li {
    margin-left: 35%;
}

header {
    height: 300px;
    border: 10px solid red;
    background-image: url(../images/fortune.jpg);
    
}
header img {max-width: 100%; max-height: 100%;} 

header h1 {
    color: chartreuse;
    font-size: 45px;
}

body {
    background-color: cornflowerblue;
    color: gold;
}

footer {
    background-color: darkmagenta;
}