body, header, footer, h1, h2, ul, li {
    max-width: 960px;
    margin: 0 auto;
}
header {
    height: 300px;
    border: 15px darkgoldenrod;
    background-image: url(../iimages/pizza.jpg);
}

button {
    background-color: greenyellow;
    border-radius: 12px;
    width: 15%;
}

main {
    color: khaki;
    background-color: darkgoldenrod;
}
main article {
    display: block;
    padding-top: 5%;
}

p {
    background-color: goldenrod;
}

footer {
    color: rgb(63, 0, 209);
    background-color: darkolivegreen;
    text-align: center;
}